# Database Connection URL
# For local development with SQLite:
DATABASE_URL="file:./dev.db"

# For Vercel Production deployment with Supabase / Neon / PostgreSQL:
# DATABASE_URL="postgresql://postgres:password@db.xxx.supabase.co:5432/postgres?pgboiler=true"

# Secret JWT Key for Admin Authentication Session
JWT_SECRET="student_zone_tenali_super_secret_admin_jwt_key_2026"
